
@{
    ViewData["Title"] = "Index";
    Layout = "_layout";
 }


<section class="jumbotron text-center">

    <div>
        <h1>Welcome to Bookstore</h1>
        <p class="lead text-muted">
            Lorem ipsum dolor  sit amet, consectetyur adipiscing 
        </p>

    </div>

</section>