
@{
    ViewData["Title"] = "Index";
 }

<h1>Index</h1>
<p>Welcom my web pages</p>
<img src="~/image/admin-icon.png" class="logo" alt="logo"/>
<img src="C:\Users\hp\source\repos\BookStory\BookStory\MystaticFile\admin-icon.png" class="logo"/>